html{
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
    margin: 0%;
    overflow: hidden;
    background: #000;
}
.parentout{
    background: #000;
    height: 100%;
    width: 100%;
}
.parent{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(51, 149, 241), rgb(2, 33, 59));
    animation: movPar 2s ease-out 5s forwards;
}
.background-wrap{
    width: 1000px;
    display: flex;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 40%;
    position: fixed;
    animation: movlr 16s linear 5s;
}
.b1{
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
    font-size: 20px;
    float: left;
    animation: movfst 6s ease-in 5s, afterfloating 5s linear infinite 15s alternate;
}
.b1 div{
    position: absolute;
}
.b1::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}
.b2{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    float: left;
    animation: movfst 6s ease-in 7s, afterfloating 5s linear infinite 13s alternate;
}
.b2::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}
.b3{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    float: left;
    animation: movfst 6s ease-in 9s, afterfloating 5s linear infinite 15s alternate;
}
.b3::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}
.b4{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    float: left;
    animation: movfst 6s ease-in 11s, afterfloating 5s linear infinite 17s alternate;
}
.b4::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}
.b5{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    float: left;
    animation: movfst 6s ease-in 13s, afterfloating 5s linear infinite 19s alternate;
}
.b5::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}
.b6{
    visibility: hidden;
    margin-top: 50px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    float: left;
    animation: movfst 6s ease-in 15s, afterfloating 5s linear infinite 21s alternate;
}
.b6::after{
    content: "";
    position: absolute;
    z-index: 4;
    height: 110px;
    width: 110px;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 12px 17px rgba(0 , 0, 0, 0.2), inset 0px 5px 20px 5px rgb(255, 255, 255, 0.7);
}
.picture{
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: movImg 3s linear forwards 1s, afterfloating 3s linear infinite 4s alternate;
}
.picture img{
    height: 250px;
    width: 290px;
    border-radius: 100%;
    opacity: 0.5;
}
.ho{
    position: absolute;
    font-size: 40px;
}

@keyframes movImg{
    0%{
        top: 30%;
        visibility: hidden;
        opacity: 1;
    }
    100%{
        top: 10%;
        visibility: visible;
        opacity: 0.5;
    }
}

@keyframes movfst{
    0%{
        visibility: visible;
        margin-top: 100%;
    }
    90%{
        visibility: visible;
        margin-top: 0%;
    }
    100%{
        visibility: visible;
        margin-top: 50px;
    }
}
@keyframes movlr{
    0%{
        visibility: visible;
        margin-left: 0%;
    }
    100%{
        visibility: visible;
        margin-left: 40%;
    }
}
@keyframes afterfloating{
    0%{
        visibility: visible;
        margin-left: 15px;
    }
    100%{
        visibility: visible;
        margin-left: 5px;
    }
}
@keyframes movPar{
    0%{
        visibility: visible;
        margin-top: 50%;
    }
    100%{
        visibility: visible;
        margin-top: 0%;
    }
}